.tasklist-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.task-list {
    width: calc(50vw + 290px);
    display: flex;
    flex-direction: column;
}

.task-list-item {
    display: table-row;
    background-color: #424549;
    color: #ccc;
    margin-top: 12px;
}

.task-list-item > div {
    display: table-cell;
    vertical-align: middle;
}

.task-list-breadtext {
    padding: 20px;
}

.task-list-due {
    height: 100%;
    min-width: 150px;
    margin-left: 18px;
    margin-right: 18px;
    border-right: 1px solid #1e2124;
    text-align: center;
}

.task-list-priority {
    min-width: 20px;
    height: 100%;
}

.task-list-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    min-width: 40vw;
}

.task-list-reference {
    font-weight: 600;
    white-space: nowrap;
    text-align: right;
    min-width: 120px;
    padding-right: 20px;
}

.task-list-button {
    text-align: center;
    height: 100%;
    width: 100%;
    min-width: 40px;
    background-color: #7a8ed8;
}

.task-list-button:hover {
    cursor: pointer;
    background-color: #8597d8;
}

.task-list-button > svg {
    color: #fff;
}

.task-list-clear {
    font-size: 1.5em;
    color: #ccc;
    margin-top: 50px;
}
