.tasklist-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.task-list {
    width: calc(50vw + 290px);
    display: flex;
    flex-direction: column;
}

.task-list-item {
    background-color: #424549;
    color: #ccc;
    height: 100%;
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.task-list-due {
    height: 100%;
    min-width: 130px;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    align-items: center;
    border-right: 1px solid #1e2124;;
}

.task-list-priority {
    float:left;
    min-width: 20px;
    height: 100%;
}

.task-list-breadtext {
    padding: 30px 0;
    min-width: 42vw;
}

.task-list-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.task-list-reference {
    display: flex;
    margin: 0 auto 0 40px;
    font-weight: 600;
    white-space: nowrap;
    min-width: 100px;
}

.task-list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    height: 100%;
    min-width: 70px;
    background-color: #7a8ed8;
}

.task-list-button:hover {
    cursor: pointer;
    background-color: #8597d8;
}

.task-list-button > svg {
    color: #fff;
}

.task-list-clear {
    font-size: 1.5em;
    color: #ccc;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
