
.nav {
    display: flex;
    height: 46px;
    align-items: center;
    padding: 5px 20px;
    background-color: #1e2124;
    margin: 0;
}

.nav > ul {
    padding: 0;
    list-style: none;
}

.nav > li {
    list-style-type: none;
    cursor: pointer;
    margin-right: 20px;
}

.logo > svg {
    color: #7289da !important;
}

.logo {
    font-size: 1.5em;
    margin-left: auto !important;
    margin-right: auto !important;
}

.nav a, .nav svg {
    text-decoration: none;
    border: none;
    color: #ccc;
}

.nav svg {
    margin-right: 8px;
}