.tasklist-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.task-list {
    width: calc(50vw + 290px);
    display: flex;
    flex-direction: column;
}

.task-list-item {
    background-color: #424549;
    color: #ccc;
    margin-top: 12px;
    position: relative;
}

.task-list-item > div {
    display: table-cell;
    vertical-align: middle;
}

.task-list-breadtext {
    padding: 20px 80px 20px 20px;
}

.task-list-due {
    height: 100%;
    min-width: 150px;
    margin-left: 18px;
    margin-right: 18px;
    border-right: 1px solid #1e2124;
    text-align: center;
}

.task-list-priority {
    min-width: 20px;
    height: 100%;
}

.task-list-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    min-width: 40vw;
}

.task-list-reference {
    position: absolute;
    top: 3px;
    right: 150px;
    font-weight: 600;
    white-space: nowrap;
}

.task-list-button-group {
    display: flex !important;
    position: absolute;
    top: 0;
    right: 0;
}

.task-list-button {
    text-align: center;
    height: 58px;
    line-height: 58px;
    min-width: 40px;
}

.task-list-button.edit {
    background-color: #cc9c49;
}

.task-list-button.edit:hover {
    cursor: pointer;
    background-color: #caa667;
}

.task-list-button.done {
    background-color: #7a8ed8;
}

.task-list-button.done:hover {
    cursor: pointer;
    background-color: #8597d8;
}

.task-list-button.danger {
    background-color: tomato !important;
}

.task-list-button.danger:hover {
    cursor: pointer;
    background-color: rgb(255, 63, 29) !important;
}

.task-list-button > svg {
    color: #fff;
}

.task-list-clear {
    font-size: 1.5em;
    color: #ccc;
    margin-top: 50px;
    text-align: center;
}
