/*  Global styles  */
body, html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #282b30;
}

.input {
    padding: 20px 18px;
    font-size: 16pt;
    border: 0;
    border-radius: 1px;
}

/* Remove arrows from number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove input field highlight */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Placeholder color */
::-webkit-input-placeholder { color: #ccc; }
::-moz-placeholder { color: #ccc; }
::-ms-placeholder { color: #ccc; }
::placeholder { color: #ccc; }


/* Tasklist tabs */
.tasklist-tabs-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.tasklist-tabs {
    display: flex;
    width: calc(50vw + 290px);
}

.tasklist-tab {
    display: inline-flex;
    padding: 20px 65.5px;
    margin-right: 1px;
    background-color: #424549;
    color: #ccc;
}

.tasklist-tab:hover {
    cursor: pointer;
    background-color: #4d4f52;
}

.tasklist-tab.active {
    box-shadow: inset 0 -5px 0 #7a8ed8;
}

.danger {
    background-color: tomato !important;
}

.danger:hover {
    background-color: rgb(255, 63, 29) !important;
}
