/*  Global styles  */
body, html {
    font-family: 'Courier New', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #282b30;
}

pre {
    margin: 0;
    white-space: pre-line;
}

.input {
    font-family: 'Courier New', sans-serif;
    padding: 20px 18px;
    font-size: 16pt;
    border: 0;
}

/* Remove arrows from number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove input field highlight */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Placeholder color */
::-webkit-input-placeholder { color: #ccc; font-family: 'Courier New', sans-serif; }
::-moz-placeholder { color: #ccc; font-family: 'Courier New', sans-serif; }
::-ms-placeholder { color: #ccc; font-family: 'Courier New', sans-serif; }
::placeholder { color: #ccc; font-family: 'Courier New', sans-serif; }
