/* Tasklist tabs */
.tasklist-tabs-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.tasklist-tabs {
    display: flex;
    width: calc(50vw + 290px);
    margin-bottom: -12px;
    border-bottom: 1px solid #1e2124;
}

.tasklist-tab {
    display: inline-flex;
    padding: 20px 65.5px;
    margin-right: 1px;
    background-color: #282b30;
    color: #ccc;
}

.tasklist-tab:hover {
    cursor: pointer;
    background-color: #36393e;
}

.tasklist-tab.active {
    border-bottom: 5px solid #7a8ed8;
}
